<!-- <ion-view title="Home">
    <ion-content padding="true">
        <div class="list">
            <a class="item item-avatar" href="#">
                <img src="img/ionic.png">
                <h2>Home Ion</h2>
                <p>Hello ! I am an home ion !</p>
            </a>
        </div>
    </ion-content>
</ion-view>
 -->
<!-- <ion-view view-title="Sessions" ng-controller="SessionsCtrl">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="session in sessions" href="#/detail/{{session.id}}">{{session.title}}</ion-item>
        </ion-list>
    </ion-content>
</ion-view> -->
<!-- <br />
            <button class="button" ng-click="getContactList()">Load Contacts</button> -->
<ion-view view-title="{{user.first_name+' '+user.last_name}}">
    <ion-content class="has-header">
        <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
        </ion-refresher>
        <div class="list" style="margin-bottom:0px;">
            <a class="item item-avatar" href="#">
                <img src="http://graph.facebook.com/{{user.fb_id}}/picture?width=270&height=270">
            </a>
        </div>
        <ion-list>
            <ion-item ng-repeat="session in sessions" href="#/detail/{{session.id}}">{{session.title}}</ion-item>
        </ion-list>
        <!-- <ion-list>
            <ion-item ng-if="contact.phoneNumbers && (contact.displayName || contact.name)" ng-repeat="contact in contacts">
                <div ng-show="contact.phoneNumbers && (contact.displayName || contact.name)">
                    <span>{{contact.id}}</span>
                    <br />
                    <span>{{contact.displayName}}</span>
                    <br />
                    <span>{{contact.name}}</span>
                    <br />
                    <span ng-repeat="phone in contact.phoneNumbers"><span>{{phone.value}}</span>
                    <br />
                    </span>
                    <br />
                    <span ng-repeat="email in contact.emails"><span>{{email.value}}</span>
                    <br />
                    </span>
                </div>
            </ion-item>
        </ion-list> -->
    </ion-content>
</ion-view>
